# Node
node_modules/

# Next
.next/
out/
.vercel/

# Build / caches
*.tsbuildinfo
.eslintcache
.parcel-cache/
.turbo/

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Editor
.vscode/
.idea/
.DS_Store
